
    <form ng-submit="getNextPage(subreddit)">
      <div class="form-group">
        <label for="searchBox">Subreddit</label><a class="large button" href="" ng-click="toggle()"> (Subreddit List)</a>
        <input type="text" class="form-control" id="searchBox" placeholder="Enter subreddit" ng-model="subreddit">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <div class="spinner" ng-show="spinner"><img src="images/spiffygif_30x30.gif"/></div>
    <div ng-show="error">{{message}}</div>

    <h3 ng-show="subreddit">Images from {{subreddit}}</h3>
    <div class="row marketing" id="images">
        <div id="images" class="col-xs-12">

            <div infinite-scroll='reddit.nextPage(subreddit)' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
                <div class="thumbnail" ng-repeat="item in reddit.items">
                    <img ng-src="{{item.thumbnail}}" alt="{{item.title}}" class="img-responsive img-rounded" />
                    <div class="caption">
                        <p class="text-muted">{{item.title}}</p>
                        <small>
                            <a href="{{item.permalink}}" target="_blank"><span class="label label-warning"><span class="fa fa-comment"> comments</span></span></a>
                            <a href="http://www.reddit.com/r/{{item.subreddit}}" target="_blank"><span class="fa fa-reddit"> {{item.subreddit}}</span></a>
                            <span class="label label-warning"><span class="fa fa-arrow-up"> {{item.ups}}</span></span>
                            <span class="label label-default"><span class="fa fa-user"> {{item.author}}</span></span>
                            <a href="{{item.url}}" target="_blank"><span class="fa fa-image"> {{item.domain}}</span></a>
<!--                             <button type="submit" class="btn btn-default btn-xs" ng-click="toggle2(item.id)">Get Comments</button> -->
                            <button type="submit" class="btn btn-default btn-xs" ng-click="getComments2(item.id)">Get Comments ({{item.commentCount}}}</button>
                        </small>
                    </div> 

<!--                     <div ng-show="checked2">
                        <div style="padding:20px">
                            <h2>Comments</h2><button type="submit" class="btn btn-default" ng-click="toggleComments()">Close</button>

                                <div ng-repeat='member in treeData[1].data.children'>

                                    <div ng-repeat='mem in member'>
                                        <div ng-if="mem.author"><span class="label label-default"><span class="fa fa-user">{{mem.author}}</span></span></div>
                                        <div ng-if="mem.body"><p ng-bind-html="renderHTML(mem.body_html)"></p></div>

                                        <script type="text/ng-template" id="categoryTree">
                                            <span class="label label-default"><span class="fa fa-user">{{x.data.author}}</span></span>
                                            <br />{{ x.data.body }}
                                            <ul>
                                                <li ng-repeat="x in x.data.replies.data.children" ng-include="'categoryTree'">

                                                </li>
                                            </ul>
                                        </script>
                                        <ul>
                                            <li ng-repeat="x in mem.replies.data.children" ng-include="'categoryTree'"></li>
                                        </ul>    

                                    </div>
                                </div>               

                        </div>
                    </div>   -->  

                </div>

                <div ng-show='reddit.busy'>Loading data...</div>
            </div>            



        </div>
    </div>

<!--     <button type="submit" class="btn btn-default" ng-click="getNext()">Next Page</button> -->

    <div pageslide ps-open="checked" ps-side="left">
        <div style="padding:20px" id="demo-right">
            <h2>Subreddit List</h2>
            <p>Put here whatever you want</p>

              <ul>
                  <li ng-repeat="reddit in reddits" ng-click="setSelected(reddit.label)">{{reddit.label}}</li>
              </ul>                        

            <button type="submit" class="btn btn-default" ng-click="toggle()">Close</button>
        </div>
    </div>   

    <div pageslide ps-open="checked2" ps-size="60%" ui-event="{ blur : 'closeComments()'}">
        <div style="padding:20px" id="demo-right2">
            <button type="submit" class="btn btn-default" ng-click="toggle2()">Close</button>
            <h2>Comments</h2>
                <div ng-repeat='member in treeData[1].data.children'>
                    <div ng-repeat='mem in member'>
                        <div ng-if="mem.author"><span class="label label-default"><span class="fa fa-user">{{mem.author}}</span></span></div>
                        <div ng-if="mem.body"><p ng-bind-html="renderHTML(mem.body_html)"></p></div>
                        <script type="text/ng-template" id="categoryTree">
                            <span class="label label-default"><span class="fa fa-user">{{x.data.author}}</span></span>
                            <br />{{ x.data.body }}
                            <ul>
                                <li ng-repeat="x in x.data.replies.data.children" ng-include="'categoryTree'">
                                </li>
                            </ul>
                        </script>
                        <ul>
                            <li ng-repeat="x in mem.replies.data.children" ng-include="'categoryTree'"></li>
                        </ul>    
                    </div>
                </div>               
            <button type="submit" class="btn btn-default" ng-click="toggle2()">Close</button>
        </div>
    </div>      